.bg1{
  background-color: gold;
  color: black;
  font-family: 'Times New Roman';
}

.bg2{
  background-color: grey;
  color: red;
  font-family: Times New Roman;
}

img{
  width: 75%;
  height: 35%;
  border-radius: 30px;
  align-self: center;
}

h1{
  text-align:center ;
  font-size: large;
  font-family: 'Times New Roman';
}

h2{
  text-align:center ;
  font-size: medium;
  font-family: 'Times New Roman';
}

p{
  text-align:center ;
  font-size: small;
  font-family: 'Times New Roman';
}

section{
  display: none;
}

section:target{
  display: block;
}